In [4]:
import csv
with open('smalldata.csv','r') as csvfile:
    filereader = csv.reader(csvfile, delimiter=',')
    for row in filereader:
        print(row[4])

start station name
Howard St & Centre St
E 31 St & 3 Ave
10 Ave & W 28 St
Howard St & Centre St
Central Park S & 6 Ave
Kent Ave & N 7 St
Amsterdam Ave & W 73 St
Howard St & Centre St
E 33 St & 2 Ave
E 7 St & Avenue A
W 82 St & Central Park West
Pike St & Monroe St
Broadway & W 24 St
Central Park West & W 72 St
Franklin St & Dupont St
W 27 St & 7 Ave
Franklin St & Dupont St
Greenwich Ave & 8 Ave
E 12 St & 3 Ave
S 5 Pl & S 4 St
S 5 Pl & S 4 St
Huron St & Franklin St
E 4 St & 2 Ave
W 29 St & 9 Ave
Centre St & Chambers St
5 Ave & E 78 St
5 Ave & E 78 St
Forsyth St & Broome St
E 67 St & Park Ave
W 70 St & Amsterdam Ave
Pershing Square South
Pershing Square South
E 4 St & 2 Ave
W 70 St & Amsterdam Ave
E 77 St & Park Ave
E 4 St & 2 Ave
West Thames St
South End Ave & Liberty St
1 Ave & E 18 St
John St & William St
E 39 St & 2 Ave
Hicks St & Montague St
E 24 St & Park Ave S
E 10 St & 5 Ave
E 10 St & 5 Ave
W 33 St & 7 Ave
W 33 St & 7 Ave
Grand Army Plaza & Central Park S
W 37 St & 5 Ave

In [5]:
import pandas as pd
filename = 'smalldata.csv'
df=pd.read_csv(filename, sep=',')
print(df)

    tripduration          starttime           stoptime  start station id  \
0            923  1/1/2016 00:00:41  1/1/2016 00:16:04               268
1            379  1/1/2016 00:00:45  1/1/2016 00:07:04               476
2            589  1/1/2016 00:00:48  1/1/2016 00:10:37               489
3            889  1/1/2016 00:01:06  1/1/2016 00:15:56               268
4           1480  1/1/2016 00:01:12  1/1/2016 00:25:52              2006
5            332  1/1/2016 00:01:19  1/1/2016 00:06:51              3104
6           2321  1/1/2016 00:01:27  1/1/2016 00:40:08              3167
7            694  1/1/2016 00:02:18  1/1/2016 00:13:53               268
8           1376  1/1/2016 00:03:12  1/1/2016 00:26:09               527
9            615  1/1/2016 00:03:43  1/1/2016 00:13:59               432
10          1770  1/1/2016 00:04:43  1/1/2016 00:34:14              3226
11           525  1/1/2016 00:05:40  1/1/2016 00:14:25               331
12           667  1/1/2016 00:05:41  1/1/2016 00:16:49               444
13           240  1/1/2016 00:06:35  1/1/2016 00:10:36              3165
14           539  1/1/2016 00:07:39  1/1/2016 00:16:39              3117
15          1245  1/1/2016 00:08:17  1/1/2016 00:29:03               442
16           479  1/1/2016 00:08:42  1/1/2016 00:16:42              3117
17           888  1/1/2016 00:08:47  1/1/2016 00:23:36               284
18           398  1/1/2016 00:09:19  1/1/2016 00:15:58               483
19           858  1/1/2016 00:09:31  1/1/2016 00:23:49               532
20           839  1/1/2016 00:09:55  1/1/2016 00:23:54               532
21           719  1/1/2016 00:10:00  1/1/2016 00:21:59              3116
22           110  1/1/2016 00:10:24  1/1/2016 00:12:15               439
23           280  1/1/2016 00:10:29  1/1/2016 00:15:09               512
24           937  1/1/2016 00:10:45  1/1/2016 00:26:22               387
25          2038  1/1/2016 00:10:50  1/1/2016 00:44:49              3143
26          2023  1/1/2016 00:11:15  1/1/2016 00:44:58              3143
27           743  1/1/2016 00:11:42  1/1/2016 00:24:05               531
28          1236  1/1/2016 00:12:14  1/1/2016 00:32:50              3231
29           662  1/1/2016 00:12:16  1/1/2016 00:23:19              3175
30          1169  1/1/2016 00:12:31  1/1/2016 00:32:01               517
31          1167  1/1/2016 00:12:35  1/1/2016 00:32:03               517
32          1684  1/1/2016 00:12:46  1/1/2016 00:40:51               439
33           936  1/1/2016 00:12:46  1/1/2016 00:28:23              3175
34           404  1/1/2016 00:13:01  1/1/2016 00:19:45              3138
35           535  1/1/2016 00:13:26  1/1/2016 00:22:21               439
36           557  1/1/2016 00:13:30  1/1/2016 00:22:47               363
37           272  1/1/2016 00:13:45  1/1/2016 00:18:17              3002
38          1343  1/1/2016 00:13:51  1/1/2016 00:36:15              2003
39           265  1/1/2016 00:14:26  1/1/2016 00:18:52               376
40           812  1/1/2016 00:14:48  1/1/2016 00:28:21               518
41           285  1/1/2016 00:14:52  1/1/2016 00:19:37               406
42           967  1/1/2016 00:15:30  1/1/2016 00:31:38               491
43          1092  1/1/2016 00:16:04  1/1/2016 00:34:16               280
44          1087  1/1/2016 00:16:08  1/1/2016 00:34:15               280
45           960  1/1/2016 00:16:13  1/1/2016 00:32:13               492
46           931  1/1/2016 00:16:36  1/1/2016 00:32:08               492
47           879  1/1/2016 00:16:41  1/1/2016 00:31:20               281
48          2595  1/1/2016 00:17:04  1/1/2016 01:00:19               485

                   start station name  start station latitude  \
0               Howard St & Centre St               40.719105
1                     E 31 St & 3 Ave               40.743943
2                    10 Ave & W 28 St               40.750664
3               Howard St & Centre St               40.719105
4              Central Park S & 6 Ave               40.765909
5                   Kent Ave & N 7 St               40.720577
6             Amsterdam Ave & W 73 St               40.779668
7               Howard St & Centre St               40.719105
8                     E 33 St & 2 Ave               40.744023
9                   E 7 St & Avenue A               40.726218
10        W 82 St & Central Park West               40.782750
11                Pike St & Monroe St               40.711731
12                 Broadway & W 24 St               40.742354
13        Central Park West & W 72 St               40.775794
14            Franklin St & Dupont St               40.735640
15                    W 27 St & 7 Ave               40.746647
16            Franklin St & Dupont St               40.735640
17              Greenwich Ave & 8 Ave               40.739017
18                    E 12 St & 3 Ave               40.732233
19                    S 5 Pl & S 4 St               40.710451
20                    S 5 Pl & S 4 St               40.710451
21             Huron St & Franklin St               40.732660
22                     E 4 St & 2 Ave               40.726281
23                    W 29 St & 9 Ave               40.750073
24            Centre St & Chambers St               40.712733
25                    5 Ave & E 78 St               40.776829
26                    5 Ave & E 78 St               40.776829
27             Forsyth St & Broome St               40.718939
28                 E 67 St & Park Ave               40.767801
29            W 70 St & Amsterdam Ave               40.777480
30              Pershing Square South               40.751581
31              Pershing Square South               40.751581
32                     E 4 St & 2 Ave               40.726281
33            W 70 St & Amsterdam Ave               40.777480
34                 E 77 St & Park Ave               40.774405
35                     E 4 St & 2 Ave               40.726281
36                     West Thames St               40.708347
37         South End Ave & Liberty St               40.711512
38                    1 Ave & E 18 St               40.733812
39               John St & William St               40.708621
40                    E 39 St & 2 Ave               40.747804
41             Hicks St & Montague St               40.695128
42               E 24 St & Park Ave S               40.740964
43                    E 10 St & 5 Ave               40.733320
44                    E 10 St & 5 Ave               40.733320
45                    W 33 St & 7 Ave               40.750200
46                    W 33 St & 7 Ave               40.750200
47  Grand Army Plaza & Central Park S               40.764397
48                    W 37 St & 5 Ave               40.750380

    start station longitude  end station id  \
0                -73.999733            3002
1                -73.979661             498
2                -74.001768             284
3                -73.999733            3002
4                -73.976342            2006
5                -73.961502             389
6                -73.980930            3164
7                -73.999733             497
8                -73.976056             259
9                -73.983799             311
10               -73.971370             509
11               -73.991930             236
12               -73.989151             490
13               -73.976206            3168
14               -73.958660            3104
15               -73.993915             545
16               -73.958660            3104
17               -74.002638             439
18               -73.988900             483
19               -73.960876             401
20               -73.960876             401
21               -73.958260            3126
22               -73.989780             439
23               -73.998393             466
24               -74.004607             503
25               -73.963888             479
26               -73.963888             479
27               -73.992663            2003
28               -73.965921            3231
29               -73.982886            3166
30               -73.977910             237
31               -73.977910             237
32               -73.989780             385
33               -73.982886             281
34               -73.961753            3134
35               -73.989780             358
36               -74.017134             146
37               -74.015756             264
38               -73.980544            3147
39               -74.007222             152
40               -73.973442             433
41               -73.995951             391
42               -73.986022             495
43               -73.995101             527
44               -73.995101             527
45               -73.990931             405
46               -73.990931             405
47               -73.973715             379
48               -73.983390             281

                     end station name  end station latitude  \
0          South End Ave & Liberty St             40.711512
1                  Broadway & W 32 St             40.748549
2               Greenwich Ave & 8 Ave             40.739017
3          South End Ave & Liberty St             40.711512
4              Central Park S & 6 Ave             40.765909
5                 Broadway & Berry St             40.710446
6              Columbus Ave & W 72 St             40.777057
7                  E 17 St & Broadway             40.737050
8             South St & Whitehall St             40.701221
9              Norfolk St & Broome St             40.717227
10                    9 Ave & W 22 St             40.745497
11                St Marks Pl & 2 Ave             40.728419
12                    8 Ave & W 33 St             40.751551
13        Central Park West & W 85 St             40.784727
14                  Kent Ave & N 7 St             40.720577
15                    E 23 St & 1 Ave             40.736502
16                  Kent Ave & N 7 St             40.720577
17                     E 4 St & 2 Ave             40.726281
18                    E 12 St & 3 Ave             40.732233
19            Allen St & Rivington St             40.720196
20            Allen St & Rivington St             40.720196
21                44 Dr & Jackson Ave             40.747182
22                     E 4 St & 2 Ave             40.726281
23                    W 25 St & 6 Ave             40.743954
24                 E 20 St & Park Ave             40.738274
25                    9 Ave & W 45 St             40.760193
26                    9 Ave & W 45 St             40.760193
27                    1 Ave & E 18 St             40.733812
28                 E 67 St & Park Ave             40.767801
29             Riverside Dr & W 72 St             40.780578
30                    E 11 St & 2 Ave             40.730473
31                    E 11 St & 2 Ave             40.730473
32                    E 55 St & 2 Ave             40.757973
33  Grand Army Plaza & Central Park S             40.764397
34                    3 Ave & E 62 St             40.763126
35      Christopher St & Greenwich St             40.732916
36               Hudson St & Reade St             40.716250
37               Maiden Ln & Pearl St             40.707065
38                    E 85 St & 3 Ave             40.778012
39              Warren St & Church St             40.714740
40                 E 13 St & Avenue A             40.729554
41                Clark St & Henry St             40.697601
42                   W 47 St & 10 Ave             40.762699
43                    E 33 St & 2 Ave             40.744023
44                    E 33 St & 2 Ave             40.744023
45      Washington St & Gansevoort St             40.739323
46      Washington St & Gansevoort St             40.739323
47                    W 31 St & 7 Ave             40.749156
48  Grand Army Plaza & Central Park S             40.764397

    end station longitude  bikeid    usertype  birth year  gender
0              -74.015756   22285  Subscriber      1958.0       1
1              -73.988084   17827  Subscriber      1969.0       1
2              -74.002638   21997  Subscriber      1982.0       2
3              -74.015756   22794  Subscriber      1961.0       2
4              -73.976342   14562  Subscriber      1952.0       1
5              -73.965251   15788  Subscriber      1984.0       1
6              -73.978985   24183  Subscriber      1963.0       1
7              -73.990093   15747  Subscriber      1996.0       1
8              -74.012342   23933  Subscriber      1963.0       1
9              -73.988021   23993  Subscriber      1971.0       1
10             -74.001971   22541  Subscriber      1970.0       1
11             -73.987140   22193  Subscriber      1988.0       1
12             -73.993934   18665  Subscriber      1964.0       1
13             -73.969617   22174  Subscriber      1976.0       1
14             -73.961502   15061  Subscriber      1989.0       1
15             -73.978095   24071  Subscriber      1970.0       1
16             -73.961502   23563  Subscriber      1993.0       1
17             -73.989780   15082  Subscriber      1982.0       1
18             -73.988900   15721  Subscriber      1972.0       2
19             -73.989978   17057    Customer         NaN       0
20             -73.989978   17109    Customer         NaN       0
21             -73.943264   16624  Subscriber      1982.0       1
22             -73.989780   24021    Customer         NaN       0
23             -73.991449   23144  Subscriber      1988.0       1
24             -73.987520   23650  Subscriber      1982.0       2
25             -73.991255   19804  Subscriber      1963.0       2
26             -73.991255   14769    Customer         NaN       0
27             -73.980544   21624  Subscriber      1970.0       2
28             -73.965921   16475    Customer         NaN       0
29             -73.985624   22560  Subscriber      1976.0       1
30             -73.986724   19424    Customer         NaN       0
31             -73.986724   14823    Customer         NaN       0
32             -73.966033   22661    Customer         NaN       0
33             -73.973715   24072  Subscriber      1951.0       1
34             -73.965269   22965  Subscriber      1966.0       1
35             -74.007114   21223  Subscriber      1971.0       1
36             -74.009106   17569  Subscriber      1960.0       1
37             -74.007319   21619  Subscriber      1989.0       1
38             -73.954071   24232  Subscriber      1954.0       2
39             -74.009106   24119  Subscriber      1962.0       1
40             -73.980572   14785  Subscriber      1977.0       1
41             -73.993446   18591  Subscriber      1972.0       1
42             -73.993012   22478  Subscriber      1974.0       1
43             -73.976056   15713  Subscriber      1990.0       2
44             -73.976056   20945  Subscriber      1990.0       2
45             -74.008119   19039  Subscriber      1982.0       2
46             -74.008119   20258  Subscriber      1982.0       2
47             -73.991600   23386  Subscriber      1981.0       1
48             -73.973715   15861  Subscriber      1988.0       1

In [6]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [7]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [8]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
44,1087,1/1/2016 00:16:08,1/1/2016 00:34:15,280,E 10 St & 5 Ave,40.733320,-73.995101,527,E 33 St & 2 Ave,40.744023,-73.976056,20945,Subscriber,1990.0,2
45,960,1/1/2016 00:16:13,1/1/2016 00:32:13,492,W 33 St & 7 Ave,40.750200,-73.990931,405,Washington St & Gansevoort St,40.739323,-74.008119,19039,Subscriber,1982.0,2
46,931,1/1/2016 00:16:36,1/1/2016 00:32:08,492,W 33 St & 7 Ave,40.750200,-73.990931,405,Washington St & Gansevoort St,40.739323,-74.008119,20258,Subscriber,1982.0,2
47,879,1/1/2016 00:16:41,1/1/2016 00:31:20,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,379,W 31 St & 7 Ave,40.749156,-73.991600,23386,Subscriber,1981.0,1
48,2595,1/1/2016 00:17:04,1/1/2016 01:00:19,485,W 37 St & 5 Ave,40.750380,-73.983390,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,15861,Subscriber,1988.0,1

In [9]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,41.000000,49.000000
mean,912.938776,1266.306122,40.740536,-73.984040,1068.734694,40.739389,-73.986493,20056.734694,1974.463415,1.061224
std,556.110091,1242.863833,0.023104,0.015404,1165.967477,0.021799,0.016491,3401.295236,11.979352,0.626104
min,110.000000,268.000000,40.695128,-74.017134,146.000000,40.697601,-74.015756,14562.000000,1951.000000,0.000000
25%,535.000000,432.000000,40.720577,-73.995101,379.000000,40.720577,-73.993446,16624.000000,1964.000000,1.000000
50%,858.000000,492.000000,40.739017,-73.983799,479.000000,40.738274,-73.988084,21223.000000,1974.000000,1.000000
75%,1167.000000,3104.000000,40.751581,-73.973715,2003.000000,40.757973,-73.976056,22965.000000,1982.000000,1.000000
max,2595.000000,3231.000000,40.782750,-73.958260,3231.000000,40.784727,-73.943264,24232.000000,1996.000000,2.000000

In [13]:
for index, row in df.iterrows():
    print(index, row['start station name'])

0 Howard St & Centre St
1 E 31 St & 3 Ave
2 10 Ave & W 28 St
3 Howard St & Centre St
4 Central Park S & 6 Ave
5 Kent Ave & N 7 St
6 Amsterdam Ave & W 73 St
7 Howard St & Centre St
8 E 33 St & 2 Ave
9 E 7 St & Avenue A
10 W 82 St & Central Park West
11 Pike St & Monroe St
12 Broadway & W 24 St
13 Central Park West & W 72 St
14 Franklin St & Dupont St
15 W 27 St & 7 Ave
16 Franklin St & Dupont St
17 Greenwich Ave & 8 Ave
18 E 12 St & 3 Ave
19 S 5 Pl & S 4 St
20 S 5 Pl & S 4 St
21 Huron St & Franklin St
22 E 4 St & 2 Ave
23 W 29 St & 9 Ave
24 Centre St & Chambers St
25 5 Ave & E 78 St
26 5 Ave & E 78 St
27 Forsyth St & Broome St
28 E 67 St & Park Ave
29 W 70 St & Amsterdam Ave
30 Pershing Square South
31 Pershing Square South
32 E 4 St & 2 Ave
33 W 70 St & Amsterdam Ave
34 E 77 St & Park Ave
35 E 4 St & 2 Ave
36 West Thames St
37 South End Ave & Liberty St
38 1 Ave & E 18 St
39 John St & William St
40 E 39 St & 2 Ave
41 Hicks St & Montague St
42 E 24 St & Park Ave S
43 E 10 St & 5 Ave
44 E 10 St & 5 Ave
45 W 33 St & 7 Ave
46 W 33 St & 7 Ave
47 Grand Army Plaza & Central Park S
48 W 37 St & 5 Ave